body{ 
    background: url(picturs/background0.jpg);

    margin: 2px;
    padding: 2px;
    box-sizing: border-box;
    
    }
    h1{font-weight: 300 ;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgba(0, 178, 202, 0.521);
    -webkit-text-stroke: 1px rgb(56, 7, 112) ;}
    p {
        color:aliceblue;
    }
    form { color: aliceblue;
       
    }
    
    
 input{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    background: transparent;
    font-size: 15px ;
    border-color: rgb(0, 225, 255);
    color: rgb(255, 255, 255);
    border-radius: 5px;
 }
 label{
    height: 100%;
    position: 10px;
    left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    border-radius: 5px;
 }
    button{
        font-size: 20px;
        padding: 10px;
        color:  rgb(0, 225, 255);
        outline: none;
        background: transparent;
        border: 1px solid #fff;
        width: 100%;
        cursor: pointer;
        border-color:  rgb(0, 225, 255);
        border-radius: 5px;
        background-color: #fff ;
        
    }